*.iml
.DS_Store
.externalNativeBuild
.gradle
/.aswb/
/.idea/
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.ijwb/
/.project
/.settings
/.vscode/
/bazel-*
/bazel.iml
/build
/captures
/local.properties
