name: CI

on:
  # Only run push on master
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '*.md'
  # Always run on PRs
  pull_request:

jobs:
  build:
    name: JDK ${{ matrix.java_version }}
    runs-on: macOS-latest
    strategy:
      matrix:
        java_version: [1.8]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1
      - name: Generate cache key
        run: ./checksum.sh checksum.txt
      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java_version }}
      - name: Wipe local gradle
        run: rm -rf ~/.gradle
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.0.3
      - name: Configure Gradle
        # Initial gradle configuration, install dependencies, etc
        run: ./gradlew help
      - name: Spot check
        # Run spotless first to fail fast on spotless issues
        run: ./gradlew spotlessCheck --stacktrace
      - name: Build project
        run: ./gradlew assemble --stacktrace
      # TODO split test and instrumentation into parallel builds
      - name: Run tests
        run: ./gradlew test --stacktrace
      - name: Run instrumentation tests
        uses: malinskiy/action-android/emulator-run-cmd@release/0.0.3
        with:
          cmd: ./gradlew connectedCheck --stacktrace
          api: 18
          tag: default
          abi: x86
      - name: Reclaim memory
        run: ./gradlew --stop && jps|grep -E 'KotlinCompileDaemon|GradleDaemon'| awk '{print $1}'| xargs kill -9
      - name: Final checks
        run: ./gradlew check --stacktrace
